on:
  push:
  pull_request:

name: Lint and Test

defaults:
  run:
    shell: bash


jobs:
  conventional-commits:
    runs-on: ubuntu-latest
    steps:
     - name: Conventional Commits
       uses: webiny/action-conventional-commits@v1.3.0
       with:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         allowed-commit-types: "feat,fix,cicd,chore,patch,release,test,docs"
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.4'
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
  test:
    name: Run tests
    runs-on: 'ubuntu-latest'
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.4'
          check-latest: true
      - run: go test -v -cover
